# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

AT = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
anomalia_termica = pd.Series(AT)
anomalia_termica

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [3]:

AT = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
indice =[1900, 1920, 1940,1960, 1980,2000,2020]
anomalia_termica = pd.Series(data=AT, index=indice)
anomalia_termica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [4]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

X = {1900: -.08,
     1920: -.27,
     1940: .12,
     1960: -.03,
     1980: .26,
     2000: .40,
     2020: 1.02}
XS = pd.Series(X)
XS

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [5]:
arr = np.random.normal(100, 10, (20,3))
pd.DataFrame(arr)

             0           1           2
0    94.287620  104.206991  110.924220
1    86.689255   82.137578   95.225509
2    99.836984   93.518902  109.492164
3    85.105837   95.827142   97.457111
4    88.373825   88.776730  115.421167
5    96.938975   81.824575   92.556733
6    97.265873  104.561300  104.223053
7   105.746489   93.798154  106.635338
8    97.936660  100.936820  118.587801
9    91.792968   93.470016  115.967128
10  102.865563   90.343445  104.912089
11   81.360273   99.949995  108.336756
12  104.815330   85.364152  112.259685
13  102.814732  113.017502   93.245353
14  109.479837   83.812450   91.962628
15   89.328997   92.117228   99.512785
16   94.734533  107.847305  107.538165
17   89.441562  107.931709   88.663996
18  103.989395   89.680205  110.652419
19  100.826581   95.390468  120.702656

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [6]:
indice = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
X = pd.DataFrame({'X1': [118.309211,124.346044,89.333651,101.264301,121.602837,99.278831,89.203785,95.517837,109.217603,102.046027,72.120330,
                     	100.021215,105.085730,100.840552,99.040679,93.094586,95.712035,105.076286,89.302485,90.881202,115.845594],
               'X2':[83.800759,105.836400,109.140258,88.157372,90.353854,102.531344,98.463465,102.641721,107.241224,102.721129,106.530085,
                    119.146404,106.170325,93.028062,94.921940,96.349800,95.873340,102.398777,88.076091,104.197685,107.905125],
               'X3':[88.855482,108.101669,111.003371,95.477739,97.672371,84.391273,99.878794,104.221724,89.409053,87.416058,103.516487,
                     89.528903,107.226528,100.063027,102.094553,113.486127,97.027207,92.524251,105.355317,71.049967,113.978183]})
                     
anomalia_termica =pd.DataFrame(data=X, index=indice)
anomalia_termica

            X1          X2          X3
1   124.346044  105.836400  108.101669
2    89.333651  109.140258  111.003371
3   101.264301   88.157372   95.477739
4   121.602837   90.353854   97.672371
5    99.278831  102.531344   84.391273
6    89.203785   98.463465   99.878794
7    95.517837  102.641721  104.221724
8   109.217603  107.241224   89.409053
9   102.046027  102.721129   87.416058
10   72.120330  106.530085  103.516487
11  100.021215  119.146404   89.528903
12  105.085730  106.170325  107.226528
13  100.840552   93.028062  100.063027
14   99.040679   94.921940  102.094553
15   93.094586   96.349800  113.486127
16   95.712035   95.873340   97.027207
17  105.076286  102.398777   92.524251
18   89.302485   88.076091  105.355317
19   90.881202  104.197685   71.049967
20  115.845594  107.905125  113.978183

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [15]:
X ['Media'] = X['X1'] / X['X2'] / X['X3']
anomalia_termica =pd.DataFrame(data=X, index=indice)
anomalia_termica

            X1          X2          X3     Media   log_med
1   124.346044  105.836400  108.101669  0.010868 -4.521898
2    89.333651  109.140258  111.003371  0.007374 -4.909816
3   101.264301   88.157372   95.477739  0.012031 -4.420283
4   121.602837   90.353854   97.672371  0.013779 -4.284592
5    99.278831  102.531344   84.391273  0.011474 -4.467700
6    89.203785   98.463465   99.878794  0.009071 -4.702719
7    95.517837  102.641721  104.221724  0.008929 -4.718452
8   109.217603  107.241224   89.409053  0.011391 -4.474960
9   102.046027  102.721129   87.416058  0.011364 -4.477273
10   72.120330  106.530085  103.516487  0.006540 -5.029822
11  100.021215  119.146404   89.528903  0.009377 -4.669532
12  105.085730  106.170325  107.226528  0.009231 -4.685212
13  100.840552   93.028062  100.063027  0.010833 -4.525161
14   99.040679   94.921940  102.094553  0.010220 -4.583424
15   93.094586   96.349800  113.486127  0.008514 -4.766050
16   95.712035   95.873340   97.027207  0.010289 -4.576675
17  105.076286  102.398777   92.524251  0.011091 -4.501659
18   89.302485   88.076091  105.355317  0.009624 -4.643510
19   90.881202  104.197685   71.049967  0.012276 -4.400120
20  115.845594  107.905125  113.978183  0.009419 -4.665001

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [10]:
X['log_med'] = np.log(X['Media'])
anomalia_termica =pd.DataFrame(data=X, index=indice)
anomalia_termica

            X1          X2          X3     Media   log_med
1   124.346044  105.836400  108.101669  0.010868 -4.521898
2    89.333651  109.140258  111.003371  0.007374 -4.909816
3   101.264301   88.157372   95.477739  0.012031 -4.420283
4   121.602837   90.353854   97.672371  0.013779 -4.284592
5    99.278831  102.531344   84.391273  0.011474 -4.467700
6    89.203785   98.463465   99.878794  0.009071 -4.702719
7    95.517837  102.641721  104.221724  0.008929 -4.718452
8   109.217603  107.241224   89.409053  0.011391 -4.474960
9   102.046027  102.721129   87.416058  0.011364 -4.477273
10   72.120330  106.530085  103.516487  0.006540 -5.029822
11  100.021215  119.146404   89.528903  0.009377 -4.669532
12  105.085730  106.170325  107.226528  0.009231 -4.685212
13  100.840552   93.028062  100.063027  0.010833 -4.525161
14   99.040679   94.921940  102.094553  0.010220 -4.583424
15   93.094586   96.349800  113.486127  0.008514 -4.766050
16   95.712035   95.873340   97.027207  0.010289 -4.576675
17  105.076286  102.398777   92.524251  0.011091 -4.501659
18   89.302485   88.076091  105.355317  0.009624 -4.643510
19   90.881202  104.197685   71.049967  0.012276 -4.400120
20  115.845594  107.905125  113.978183  0.009419 -4.665001